<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Avalia&ccedil;&atilde;o {AvaliacaoReferencia}</title>
        <link href="{IMAGE_URL}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        <link href="{CSS_URL}/reset.css" rel="stylesheet" type="text/css" />
        <link href="{CSS_URL}/600.css" rel="stylesheet" type="text/css" />
        <link href="{CSS_URL}/text.css" rel="stylesheet" type="text/css" />
        <link href="{CSS_URL}/newStyle.css" rel="stylesheet" type="text/css" />
        <link href="{CSS_URL}/report.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div>
            <!--<h1 style="text-align: center;">Avaliação {AvaliacaoReferencia}</h1>
                {DadosAvaliando}
            <hr />-->
            <h5 style="text-align: center">Avalia&ccedil;&atilde;o {CodRef} - Im&oacute;veis Selecionados</h5>
<table class="imovelDescription container_12">
            <!-- BEGIN imoveis_selecionados -->
                {DadosImovel}
            <!-- END imoveis_selecionados -->
</table>
        </div>
    </body>
</html>
