<input type="hidden" id="forma" name="forma" value="{Forma}" />
<input type="hidden" id="show_vagas_de_garagem" name="show_vagas_de_garagem" value="{ShowVagasDeGaragem}" />
<input type="hidden" id="show_vagas_de_garagem" name="show_vagas_de_garagem" value="{ShowVagasDeGaragem}" />
<input type="hidden" id="show_wcs" name="show_wcs" value="{ShowWcs}" />
<input type="hidden" id="show_dormitorios" name="show_dormitorios" value="{ShowDormitorios}" />
<input type="hidden" id="show_suites" name="show_suites" value="{ShowSuites}" />
<input type="hidden" id="show_armarios" name="show_armarios" value="{ShowArmarios}" />
<input type="hidden" id="show_reformas" name="show_reformas" value="{ShowReformas}" />
<input type="hidden" id="show_andar" name="show_andar" value="{ShowAndar}" />
<input type="hidden" id="show_elevadores" name="show_elevadores" value="{ShowElevadores}" />
<input type="hidden" id="show_frente_fundos" name="show_frente_fundos" value="{ShowFrenteFundos}" />
<input type="hidden" id="show_facesol_sombra" name="show_facesol_sombra" value="{ShowFacesolSombra}" />
<input type="hidden" id="show_area_de_lazer" name="show_area_de_lazer" value="{ShowAreaDeLazer}" />
<input type="hidden" id="show_piscina" name="show_piscina" value="{ShowPiscina}" />
<input type="hidden" id="show_salao_de_festas" name="show_salao_de_festas" value="{ShowSalaoDeFestas}" />
<input type="hidden" id="show_capacidade_de_uso" name="show_capacidade_de_uso" value="{ShowCapacidadeDeUso}" />
<input type="hidden" id="show_situacao_circulacao" name="show_situacao_circulacao" value="{ShowSituacaoCirculacao}" />


