<script>
    $(function() {
    });
</script>

    <tr>
        <td class="grid_6 picture">
            {Foto}
        </td>
        <td class="grid_6">
            <div class="grid_3">
                <span class="label">Elemento:</span> {Elemento}
            </div>
            <div class="grid_3">
                <span class="label">&Iacute;ndice Fiscal:</span> {IndiceFiscal} / {IndiceFiscalAno}
            </div>
            <div class="grid_3">
                <span class="label">Valor:</span> R$ {Valor} ({NaturezaValor})
            </div>
            <div class="grid_3">
                <span class="label">Data:</span> {Data}
            </div>
            <div class="grid_6">
                <span class="label">Localiza&ccedil;&atilde;o:</span> 
                {Local} - {Bairro} - {Municipio} <br />
                {Complemento} {NomeLocal}
            </div>
            <!-- BEGIN block_setor_quadra -->
            <div class="grid_3">
                <!-- BEGIN block_setor -->
                {Setor}
                <!-- END block_setor -->
                <!-- BEGIN block_quadra -->
                {Quadra}
                <!-- END block_quadra -->
            </div>
            <!-- END block_setor_quadra -->
            <div class="grid_3">
                <span class="label">Zona:</span> {Zona}
            </div>
            <!-- BEGIN block_latitude_longitude -->
            <div class="grid_3">
                <span class="label">Latitude:</span> {Latitude}
            </div>
            <div class="grid_3">
                <span class="label">Longitude:</span> {Longitude}
            </div>
            <!-- END block_latitude_longitude -->
            <div class="grid_6"><h3>Dados do Terreno</h3></div>
            <div class="grid_6">
                <span><span class="label">&Aacute;rea:</span> {Area} m<sup>2</sup></span>
                <span><span class="label">Testada:</span> {Testada} m</span>
                <span><span class="label">Topografia:</span> {Topografia}</span>
                <span><span class="label">Regular:</span> {Regular}</span>
                <span><span class="label">Frentes M&uacute;ltiplas:</span> {FrentesMultiplas}</span>
                <span>{IndiceFiscal2}</span>
                <span>{Testada2}</span>
            </div>
            <div class="grid_6">
                {Melhoramentos}
            </div>
            <!-- BEGIN block_dados_construcao -->
            <div class="grid_6">
                <h3>Dados da Constru&ccedil;&atilde;o</h3>
            </div>
            <div class="grid_6">
                <span><span class="label">Idade:</span> {Idade} anos</span>
                <span><span class="label">Padr&atilde;o de Benfeitoria Principal:</span> {PadraoPrincipal}</span>
                <span><span class="label">&Aacute;rea de Constru&ccedil;&atilde;o Principal:</span> {AreaConstrucaoPrincipal} m<sup>2</sup></span>
                <span><span class="label">Estado de Conserva&ccedil;&atilde;o:</span> {EstadoDeConservacao}</span>
                <span>{AreasSecundarias}</span>
                <span>{VagasDeGaragem}</span>
                <span>{Wcs}</span>
                <span>{Dormitorios}</span>
                <span>{Suites}</span>
                <span>{Armarios}</span>
                <span>{Reformas}</span>
                <span>{Andar}</span>
                <span>{Elevadores}</span>
                <span>{FrenteFundos}</span>
                <span>{FacesolSombra}</span>
                <span>{AreaDeLazer}</span>
                <span>{Piscina}</span>
                <span>{SalaoDeFestas}</span>
                <span>{CapacidadeDeUso}</span>
                <span>{SituacaoCirculacao}</span>
            </div>
            <!-- END block_dados_construcao -->
            <div class="grid_6">
                <h3>Fonte de Informa&ccedil;&atilde;o</h3>
            </div>
            <div class="grid_3">
                <span class="label">Informante:</span> {Informante}
            </div>
            <div class="grid_3">
                <span class="label">Telefone:</span> {Telefone}
            </div>
            <div class="grid_3">
                <span>{Imobiliaria}</span>
                <span>{ImobiliariaRef}</span>
            </div>
            <div class="grid_6">
                {Observacoes}
            </div>
            <div class="grid_12">
            </div>
        </td>
    </tr>