<!-- BEGIN table_row -->
<div id="selecao" class="selecao{ID}" onClick="mudarSelecao({ID});">
    <input type="hidden" id="selecao{ID}" value="{Selecionado}" />
    <table cellspacing="0" cellpadding="0" border="0" width="100%" id="form2"{ClasseSelecionada}>
     <tr class="h" style="cursor: pointer;">
      <td width="20" height="20"> &nbsp; {ID}</td>
      <td width="180" height="20"> &nbsp; {Tipo}</td>
      <td> &nbsp; {Logradouro}</td>
      <td width="140"> &nbsp; {Bairro}</td>
      <td width="140"> &nbsp; {Municipio}</td>
      <td width="60"> &nbsp; {Setor}</td>
      <td width="60"> &nbsp; {Quadra}</td>
     </tr>
    </table>
</div>
 <!-- END table_row -->