<script>
    $(function() {
        $(".fone").mask("(99) 9999-9999");
    });
</script>
    <fieldset>
    <input type="hidden" name="classe" id="classe" value="imobiliaria" />
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" class="text ui-widget-content ui-corner-all" />
    <label for="endereco">Endere&ccedil;o</label>
    <input type="text" name="endereco" id="endereco" class="text ui-widget-content ui-corner-all" />
    <label for="fone">Telefone</label>
    <input type="text" name="fone" id="fone" class="text ui-widget-content ui-corner-all fone" />
</fieldset>